.container {
  padding: 50px;
}

.clearfix::after, .calendar ol::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .calendar {
    border-radius: 10px;
    max-width: 826px;

    .calendar-header {
  
      .month-container, .year-container {
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        width: 100%;

        i {
          flex: 1;
          cursor: pointer;
          padding: 10px;
        }

        span, div {
          flex: 10;

          input {
            max-width: 150px;
            text-align: center;
          }
        }

        .month-popup .month{
          cursor: pointer;
        }

        .label-month, .label-year {
          cursor: pointer;

          .month-popup {
            font-size: medium;
            width: 100px;
            margin: auto;

            div:hover {
              background: #dee2e6;
            }
          }
        }
      }
    }

    .events {
      padding-bottom: 10px;

      .no-event{
        font-style: italic;
        font-family: auto;
      }

      .event {
        display: flex;
        width: 50%;
        margin: 15px auto;
        word-break: break-all;

        .today-event {
          background-color: #91ff006e;
        }

        .event-date {
          flex: 2;
          font-family: monospace;
          font-weight: bold;
          background-color: #eee;
          font-size: xx-large;
          display: flex;
          align-items: center;
          div {
            display: grid;
            width: 100%;
            span {
              max-height: 100px;
            }
          }
        }
        .event-content {
          flex: 8;
          padding: 10px;
        }

        .close {
          margin-right: 5px;
          span {
            color: red;
          }
        }
      }

      .skylight-dialog{
        border-radius: 15px !important;

        .event-modal {
  
          .event-header {
            display: flex;
            padding: 1rem;
            border-bottom: 1px solid #dee2e6;
          }

          .event-body {
            padding: 1rem;

            > * {
              margin: 15px 0;
            }
          }

          .event-footer {
            display: flex;
            justify-content: flex-end;
            padding: .75rem;
            border-top: 1px solid #dee2e6;

            > * {
              margin: .25rem;
            }
          }
        }
      }

    }

    .calendar-body {

      .day-names {
        border-bottom: 1px solid #eee;
        margin-bottom: 1em;
        display: flex;
        
        div {
          margin-bottom: 0.5em;
          flex: auto;
          font-weight: bold;
          max-width: 112px;
        }
      }

      .calendar-content {
        .week {
          display: flex;

          div {
            width: 112px;
            max-width: 112px;
            height: 6rem;
            cursor: pointer;

            &:hover {
              background-color: rgba(0, 0, 0, 0.144);
            }

            &.current-day span {
              color: crimson;
              font-weight: bold;
            }

            &.selected-day {
              background-color: rgba(0, 0, 0, 0.144);
            }
          }
        }
      }
    }
  }